h1 {
    color: blue;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}

.div {
    width: 400px;
    height: 200px;
    border: 1px solid white;
    padding:20px;
    margin: 20px;
}
